table{
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    border: 2px solid black; 
}
#area1{
    background-color: rgb(60, 228, 136);
}
#area2{
    background-color: rgb(183, 115, 197);
}