.ballon{
    background-color: red;
    border: none;
    height: 200px;
    width : 200px;
    border-radius: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
